@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,200;1,500&display=swap");
@import "../../../../admin-tech/node_modules/react-quill/dist/quill.snow.css";

:root {
    --primary: #fe2c55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    /* background:  rgb(134, 134, 134); */
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
#root {
    width: 100vw;
    height: auto;
}
